step_functions/registration_workflow.asl.json
{
  "Comment": "Workflow pendaftaran user baru dengan penanganan Foto Profil (S3/RDS/DynamoDB)",
  "StartAt": "SaveUserToRDSAndS3",
  "States": {
    "SaveUserToRDSAndS3": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:342456556902:function:lks_post",
      "Comment": "Lambda ini akan menyimpan data ke MariaDB dan upload foto ke S3",
      "Next": "LogActivityToDynamoDB",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "FailState"
        }
      ]
    },
    "LogActivityToDynamoDB": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:342456556902:function:lks_log_dynamo",
      "Comment": "Mencatat metadata dan timestamp ke DynamoDB",
      "Next": "SendNotification",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "FailState"
        }
      ]
    },
    "SendNotification": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:342456556902:LKS-Registration-Alerts",
        "Message.$": "States.Format('Halo! User baru bernama {} dengan email {} telah berhasil terdaftar ke sistem CloudTech.', $.name, $.email)",
        "Subject": "Notifikasi Pendaftaran Sukses - LKS 2026"
      },
      "End": true
    },
    "FailState": {
      "Type": "Fail",
      "Error": "RegistrationFailed",
      "Cause": "Terjadi kesalahan sistem pada alur pendaftaran CloudTech."
    }
  }
}